{% extends 'websocket_app/header.html' %}

{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="users-list">
            <ol>
                {% for iter_user in object_list %}
                    {% if user != iter_user %}
                        <ol><input type="checkbox" name="submit-users" value="{{ iter_user }}">{{ iter_user }}</ol>
                    {% endif %}
                {% endfor %}
            </ol>
            <button class="form-button" type="sybmit" name="submit-users" onclick="this.disabled = 'disabled', this.form.submit();" >Создать</button>
        </fieldset>
    </form>
</div>
{% endblock %}
