{% extends 'websocket_app/base.html' %} {% block content %}

<div class="container-fluid h-100 bg-transparent">
  <div class="row h-100">
    <div class="col-3 m-auto text-center border rounded-4 shadow p-4 bg-white">
      <div class="display-4 m-4">ChatRoom</div>
      <hr>

      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        
        <div class="text-start m-2">
            <label for="id_username" class="m-2">Логин</label>
            <input class="textinput textInput form-control" type="text" name="username" maxlength="150" placeholder="Введите логин"  id="id_username"/>
        </div>
        
        <div class="text-start m-2">
            <label for="id_password" class="m-2">Пароль</label>
            <input class="textinput textInput form-control" type="password" name="password" autocomplete="current-password" placeholder="Введите пароль"  id="id_password"/>
        </div>
        <hr class="mt-4">
        <div class="m-2 mt-4">
            <button class="btn btn-primary w-100 rounded-5" type="submit">Войти</button>
        </div>
    </form>
        <div class="m-2 mt-4 mb-3">
            <a href="{% url 'register' %}" class="link-primary">Регистрация</a>
        </div>
    </div>
  </div>
</div>

{% endblock %}
