<div class="d-flex m-2 justify-content-between">
  <div class="p-2 text-dark">Чатов ({{ rooms_count }})</div>
  <a class="btn btn-primary" href="{% url 'create' %}" role="button">Добавить чат</a>
</div>
<div class="d-flex p-2 mb-2">
  <input class="form-control form-control-sm bi-serach" type="text" placeholder="Поиск">
</div>
{% for object in object_list %}
<a class="btn btn-light shadow-sm rounded-0 room-btn border-top" id="{{ object.room.id }}" onclick="newSocketChatlogConnection('{{ object.room.id }}' , '{{ object.room.name  }}')"
hx-get="{% url 'chatrooms' %}" hx-trigger="click delay:1s" hx-target="#rooms-container">
  <div class="row">
    <div class="col-8">
      <div class="d-flex flex-column align-items-start">
        {% if object.room.users.count > 2 %}
          <div class="h6">{{ object.room.name }}</div>
        {% else %}    
          {% for roomuser in object.room.users.all %}
            {% if roomuser != user %}
              <div class="text-center text-dark">class="text-center text-dark">{{ roomuser }}&nbsp</div>
            {% endif %}
          {% endfor %}
        {% endif %}  
        <div class="text-center text-dark">{{ object.room.get_last_message.text }}</div>
      </div>
    </div>  
    <div class="col-2 m-auto">
      {% if object.notification %}
        <button class="btn btn-outline-primary btn-sm rounded-circle">{{ object.notification.count }}</button>
      {% endif %}
    </div>
  </div>
</a>
{% endfor %}
