{% extends 'websocket_app/base.html' %} {% block content %}
<div class="container-fluid h-100 bg-transparent">
  <div class="row h-100">
    <div class="col-3 m-auto border rounded-4 shadow p-4 bg-white">
      <div class="display-4 m-4 text-center">ChatRoom</div>
      <hr />
      <div class="h5 m-2 text-center">Регистрация</div>
      <hr />
      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="m-2">
          <label class="m-2" for="{{ form.username.id_for_label }}">Логин</label>
          {{ form.username }}
          <div class="m-2 font-weight-bold text-danger">
            {{ form.username.errors }}
          </div>
         </div>
        <div class="m-2">
          <label class="m-2" for="{{ form.password1.id_for_label }}">Пароль</label>
          {{ form.password1 }}
          <div class="font-weight-bold text-danger">
            {{ form.password1.errors }}
          </div>
        </div>
        <div class="m-2 mb-4">
          {{ form.password2 }}
          <div class="m-2 font-weight-bold text-danger">
            {{ form.password2.errors }}
          </div>
        </div>
        <hr />
        <div class="m-2 mt-4">
          <button class="btn btn-primary w-100 rounded-5" type="submit">
            Регистрация
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
